@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formControl {
  min-width: 15%;
  margin: $base-size * 3;
}

.button {
  padding: $base-size * 4;
}
